.navbar-static-top {
  border-color:#e7e7e7;
  background-color:#000;
  -webkit-box-shadow:0 7px 5px 2px rgba(42, 42, 42, .1);
  box-shadow:0 7px 5px 2px rgba(42, 42, 42, .1);
  border-top:4px solid #00b5ad;
  margin-top:0
}
.navbar-static-top .dropdown-menu {
  padding:0
}
.navbar-static-top .dropdown-menu a {
  border-bottom:1px solid #d8d8d8;
  line-height:2.4
}
.navbar-static-top .dropdown-menu a .fa {
  margin-right:8px
}
.navbar-header{
  height: 90px;
}
html {
  position:relative;
  min-height:100%
}
body {
  margin-bottom:60px
}
.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  background-color:#000
}
.footer .container {
  padding-right:15px;
  padding-left:15px
}
.footer .container div {
  margin-top:10px;
  color:#c1c1c1
}
.footer .container div a {
  color:inherit
}
img.captcha {
  cursor:pointer
}
.users-show-page .user-info .thumbnail {
  margin-bottom:0
}
.users-show-page .nav-tabs {
  margin-bottom:20px
}
.users-show-page .nav-tabs>li>a.active {
  background-color:#fff
}
.users-show-page .list-group .list-group-item {
  border:none;
  margin-bottom:0;
  border-bottom:1px solid #efefef
}
.users-show-page .list-group .list-group-item .meta {
  color:#b3b3b3
}
.users-show-page .pagination {
  margin:12px 0
}
.users-show-page .meta {
  font-size:.9em;
  color:#b3b3b3
}
.users-show-page .reply-content {
  margin:6px 0
}
.categories-show-page .topic-list .nav>li>a, .root-page .topic-list .nav>li>a, .topics-index-page .topic-list .nav>li>a {
  position:relative;
  display:block;
  padding:5px 14px;
  font-size:.9em
}
.categories-show-page .topic-list a, .root-page .topic-list a, .topics-index-page .topic-list a {
  color:#444
}
.categories-show-page .topic-list .meta, .root-page .topic-list .meta, .topics-index-page .topic-list .meta {
  font-size:.9em;
  color:#b3b3b3
}
.categories-show-page .topic-list .meta a, .root-page .topic-list .meta a, .topics-index-page .topic-list .meta a {
  color:#b3b3b3
}
.categories-show-page .topic-list .badge, .root-page .topic-list .badge, .topics-index-page .topic-list .badge {
  background-color:#d8d8d8
}
.categories-show-page .topic-list hr, .root-page .topic-list hr, .topics-index-page .topic-list hr {
  margin-top:12px;
  margin-bottom:12px;
  border:0;
  border-top:1px solid #dcebf5
}